.container{
    width: 1200px;
    margin: 0 auto;
    @media screen and (min-width: 1024px) and (max-width: 1199px){
        width: 900px;
    }
    @media screen and (min-width: 768px) and (max-width: 1023px){
        width: 700px;
    }
    @media screen and (min-width: 481px) and (max-width: 767px) {
     width: 460px;
        }
        @media screen and (min-width: 250px) and (max-width: 480px) {
            width: 240px;
        }
    .main-view{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 3rem;
        width: 100%;
    }
  }
  .pointer{
      cursor: pointer;
  }
  .send-message{
      font-size: 2.2rem;
      color: green;
      text-align: center;
      margin-top: 15rem;
  }