.container{
    width: 1600px;
    margin: 0 auto;
    .main-view{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 3rem;
        width: 100%;
        .upper-view{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            h1{
                font-size: 1.5rem;
                font-weight: lighter;
                color: grey;
            }
            .proceed-button{
                background-color: black;
                color: white;
                padding: 8px 12px;
                border:none;
                margin-bottom: 1rem;
                font-size: 1.5rem;
            }
        }
        .bottom-view{
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
        }
        .shopping-cart{
            display: flex;
            flex-direction: column;
            width: 70%;
            
            .table-view{
                border: 1px solid grey;
                display: flex;
                flex-direction: column;
                padding-bottom: 2.3rem;
                .specification{
                    padding-top: 1rem;
                    padding-bottom: 0rem;
                    font-weight: bold;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    .empty{
                        width: 50%;
                    }
                    ul{
                        width: 46%;
                        display: flex;
                        flex-direction: row;
                        list-style-type: none;
                            li{
                                margin-right: 5rem;
                                font-size: 1.4rem;
                            }
                    }
                }
                hr{
                    width: 90%;
                    border-color: grey;
                    height: 0.1px;
                }
                .product{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    padding-top: 2rem;
                    .product-img{
                        width: 50%;
                        margin-left: 6rem;
                        display: flex;
                        align-items: center;
                        .headphones-photo{
                            margin-left: 100px;
                        }
                    }
                    .product-info{
                        width: 50%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-left: -50px;
                        ul{
                            display: flex;
                            flex-direction: row;
                            list-style-type: none;
                            align-items: center;
                            justify-content: space-between;
                                li{
                                    margin-right: 7.5rem;
                                    font-size: 1.2rem;
                                    display: flex;
                                    .incdec{
                                        background-color: lightgrey;
                                        text-align: center;
                                        width: 24px;
                                        cursor: pointer;
                                        border: none;
                                        outline: none;
                                    }
                                    div{
                                        width: 25px;
                                        outline: none;
                                        border: 1px solid black;
                                        text-align: center;
                                        line-height: 25px;
                                    }
                                }
                        }
                    }
                }
                .update-button{
                    margin-top: 1rem;
                    background-color: black;
                    width: 20rem;
                    color: white;
                    padding: 0.5rem 0.8rem;
                    margin-left: calc(100% - 255px);
                    border: none;
                    cursor: pointer;
                    font-size: 1.4rem;
                }
            }
        }
        .basket-cart{  
            width: 28%;
            .order{
                background-color: lightgray;
                border: 1px solid grey;
                display: flex;
                align-items: center;
                font-weight: bold;
                height: 30px;
                span{
                    font-size: 1.5rem;
                }
                .mini-container-in-basket{
                    display: flex;
                    width: 90%;
                    margin: 0 auto;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding-top: 1rem;
                        padding-bottom: 1rem;
                        
                }
            }
            .cart-total{
                background-color: rgba(240, 235, 235, 0.924);
                border: 1px solid grey;
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
        
                .title{
                    background-color: lightgray;
                    border: 1px solid grey;
                    font-weight: bold;
                    font-size: 1.5rem;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    p{
                        width: 90%;
                        margin: 0 auto;
                        font-size: 1.5rem;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                    }
                }
                    .mini-container-in-basket{
                        display: flex;
                        width: 90%;
                        margin: 0 auto;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        .position-into-basket{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            width: 100%;
                            padding-top: 1.5rem;
                            span{
                                font-size: 1.6rem;
                                color: grey;
                            }
                            .price{
                                font-weight: bold;
                                color: black;
                            }
                        }
                        hr{
                            width: 100%;
                    border-color: lightgrey;
                    height: 0.1px;
                        }
                        .resume-basket{
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            span{
                                font-size: 1.6rem;
                                color: grey;
    
                            }
                            .price{
                                font-weight: bold;
                                color: black;
                            }
                        }
                        button{
                            margin-top: 1.5rem;
                            width: 100%;
                        background-color: black;
                        color: white;
                        padding: 0.5rem;
                        border: none;
                        cursor: pointer;
                        font-size: 1.5rem;
                        margin-bottom: 2rem;
                        }
                    }
                

                
            }
        }
    }
  }
  .pointer{
      cursor: pointer;
  }