.upper-view{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
   
    h1{
        font-size: 1.5rem;
        font-weight: lighter;
        color: grey;
    }
    .proceed-button{
        background-color: black;
        color: white;
        padding: 8px 12px;
        border:none;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
}